= form_for @article do |f|
  .row
    .col.s12
      - if @article.errors.any?
        .card.red.darken-1
          .card-content.white-text
            %h4= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
            %ul
              - @article.errors.full_messages.each do |msg|
                %li= msg

      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :description
        = f.text_area :description, class: "materialize-textarea"
      .field
        = f.label :price
        = f.text_field :price
      .field
        = f.label :total_in_shelf
        = f.number_field :total_in_shelf
      .field
        = f.label :total_in_vault
        = f.number_field :total_in_vault
      .field
        = f.label :store
        = f.select :store_id, options_for_select(Store.all.map{|s|[s.name, s.id]}), {}, {class: 'browser-default'}
      .actions
        = f.submit t('article.save'), class: "waves-effect waves-light btn"
        = link_to  t('article.back'), articles_path, class: "grey darken-4 waves-effect waves-light btn"
