%h2
  = t('article.index')

%table.bordered.responsive-table
  %thead
    %tr
      %th
        = t('article.fields.name')
      %th
        = t('article.fields.description')
      %th
        = t('article.fields.price')
      %th
        = t('article.fields.total_in_shelf')
      %th
        = t('article.fields.total_in_vault')
      %th
        = t('article.fields.store')
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.name
        %td= article.description
        %td= article.price
        %td= article.total_in_shelf
        %td= article.total_in_vault
        %td= article.store.name
        %td
          %i.tiny.material-icons
            visibility
          = link_to t('article.show'), article
        %td
          %i.tiny.material-icons
            mode_edit
          = link_to t('article.edit'), edit_article_path(article)
        %td
          %i.tiny.material-icons
            delete
          = link_to t('article.delete'), article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('article.new'), new_article_path, class: "waves-effect waves-light btn"
