%h2
  = @article.name

%p#notice= notice

%p
  %b
    = "#{t('article.fields.name')}:"
  = @article.name
%p
  %b
    = "#{t('article.fields.description')}:"
  = @article.description
%p
  %b
    = "#{t('article.fields.price')}:"
  = @article.price
%p
  %b
    = "#{t('article.fields.total_in_shelf')}:"
  = @article.total_in_shelf
%p
  %b
    = "#{t('article.fields.total_in_vault')}:"
  = @article.total_in_vault
%p
  %b
    = "#{t('article.fields.store')}:"
  = @article.store.name

= link_to t('article.edit'), edit_article_path(@article)
\|
= link_to t('article.index'), articles_path
