= form_for @store do |f|
  .row
    .col.s12
      - if @store.errors.any?
        .card.red.darken-1
          .card-content.white-text
            %h4= "#{pluralize(@store.errors.count, "error")} prohibited this store from being saved:"
            %ul
              - @store.errors.full_messages.each do |msg|
                %li= msg

      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :address
        = f.text_field :address
      .actions
        = f.submit t('store.save'), class: "waves-effect waves-light btn"
        = link_to t('store.back'), stores_path, class: "grey darken-4 waves-effect waves-light btn"
