%h2
  = t('store.index')

%table.bordered.responsive-table
  %thead
    %tr
      %th
        = t('store.fields.name')
      %th
        = t('store.fields.address')
      %th
      %th
      %th

  %tbody
    - @stores.each do |store|
      %tr
        %td= store.name
        %td= store.address
        %td
          %i.tiny.material-icons
            visibility
          = link_to t('store.show'), store
        %td
          %i.tiny.material-icons
            mode_edit
          = link_to t('store.edit'), edit_store_path(store)
        %td
          %i.tiny.material-icons
            delete
          = link_to t('store.delete'), store, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('store.new'), new_store_path, class: "waves-effect waves-light btn"
