%h2
  = @store.name

%p#notice= notice

%p
  %b
    = "#{t('store.fields.name')}:"
  = @store.name
%p
  %b
    = "#{t('store.fields.address')}:"
  = @store.address

= link_to t('store.edit'), edit_store_path(@store)
\|
= link_to t('store.index'), stores_path
