%footer.page-footer.orange
  .container
    .row
      .col.l12.s12
        %h5.white-text
          = t('about.us.title')
        %p.grey-text.text-lighten-4
          = t('about.us.copy')

  .footer-copyright
    .container
      .row
        .col.s6
          = t('about.author.made_by')
          %a.orange-text.text-lighten-3{:href => "mailto:#{t('about.author.email')}"}
            = t('about.author.name')
        .col.s6.right-align
          != "&copy; #{Time.now.year}"
