%nav
  .nav-wrapper.container
    %a.brand-logo{:href => root_path}
      = t('brand.name')
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => stores_path}
          = t('store.index')
      %li
        %a{:href => articles_path}
          = t('article.index')
      
